<div class="row">
    <div class="col-lg-4 col-4">
        <div class="small-box bg-gradient-info">
            <div class="inner">
                <h3>Selección e Ingreso</h3>
                <br>
            </div>
            <div class="icon text-white">
                <i class="fas fa-users-cog"></i>
            </div>
            <a (click)="onClickSelectionEntry()" class="small-box-footer pointer">Acceder <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-4 col-4">
        <div class="small-box bg-gradient-navy">
            <div class="inner">
                <h3>Seguridad</h3>
                <br>
            </div>
            <div class="icon text-white">
                <i class="fas fa-lock"></i>
            </div>
            <a (click)="onClickSecurityModule()" class="small-box-footer pointer">Acceder <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>